.logo {
   text-transform: uppercase;
   font-size: 3rem;
   padding: 1rem 1.5rem;
   margin-top: 10vh;
}


.login-btn {
   margin-top: 3rem;
}


small{
   display: block;
   width: 100%;
   text-align: right;
   color: red;
}